DB_HOSTNAME=localhost
DB_NAME=your_database
DB_USER=your_db_user
BACKUP_KEY_PUB_FILE=/path/to/public_key.pub
TIME_ZONE=Europe/Moscow

S3_BUCKET_NAME=your_s3_bucket
S3_ENDPOINT_URL=https://storage.yandexcloud.net
BACKUP_API_URL=http://storyka.ru/web/database/backup
MASTER_PASSWORD=your_master_password
ODOO_DATABASE_NAME=service_app
ODOO_DATABASE_FILE_NAME=backup_service_app.zip
DB_FILENAME=/tmp/backup_db.sql.gz.enc
